libphaseret/testing/mUnit/libphaseretprotofile.m 
libltfat/testing/mUnit/libltfatprotofile.m 
libltfat/testing/pyUnit/__*
libltfat/CMakeCache.txt
libphaseret/CMakeCache.txt
repr/Databases/*
repr
build
mat2doc_*
html
latex
*.o
*.a
*.so
*.wav
*.mat
*.mex*
*.m~
.*
libltfat/CMakeFiles/*
libphaseret/CMakeFiles/*
octave-workspace

